<form name="formXsd" novalidate>

    <div ng-if="vm.formPeticion.mostrar">
        <p>{{vm.formPeticion.titulo}}<img align="right" src="./imagenes/xml.png"></p>
        <br>
        <label><b>Datos para la generación del Wsdl:</b></label><br><br>
        <label>{{vm.formPeticion.label.nombreWsdl}}</label>
        <input type="text" size="50" ng-model="vm.formPeticion.input.wsdl"/>.wsdl
        <br>
        <label>{{vm.formPeticion.label.selectErrores}}</label>
        <select name="errorSelect" id="errorSelect" ng-disabled="vm.formPeticion.select.error.disabled" ng-model="vm.formPeticion.select.error.item">
            <option ng-repeat="item in vm.resultadoErrores.errores" value="{{item.error}}">{{item.error}}</option>
        </select>
        <input type="text" size="60" ng-model="vm.formPeticion.select.error.item" value="{{vm.formPeticion.select.error.item}}"/>
        <br>

        <label>{{vm.formPeticion.label.selectHeaders}}</label>
        <select name="headerSelect" id="headerSelect" ng-disabled="vm.formPeticion.select.header.disabled" ng-model="vm.formPeticion.select.header.item">
            <option ng-repeat="item in vm.resultadoHeaders.headers" value="{{item.header}}">{{item.header}}</option>
        </select>
        <input type="text" size="60" ng-model="vm.formPeticion.select.header.item" value="{{vm.formPeticion.select.header.item}}"/>
        <br><br>
        <label><img height="32" width="32" src="./imagenes/xsd.ico">{{vm.formPeticion.label.excelEntrada}}</label><input type="file" file-model = "myFile1"/><br>
        <label><img height="32" width="32" src="./imagenes/xsd.ico">{{vm.formPeticion.label.excelSalida}}</label>  <input type="file" file-model = "myFile2"/><br>
        <div align="center">
            <button ng-disabled="vm.formPeticion.boton.enviar.disabled" ng-click="vm.uploadFile()">{{vm.formPeticion.boton.enviar.label}}</button>
        </div>
    </div>

    <div ng-if="vm.formRespuesta.mostrar">
        <p>{{vm.formRespuesta.titulo}}</p>
        <div ng-show="vm.formRespuesta.resultado.xsd1">
            <p> <a href="{{vm.resultado.xsdEntrada}}" target="_blank">XSD Entrada</a></p>
        </div>
        <div ng-show="vm.formRespuesta.resultado.xsd2">
            <p><a href="{{vm.resultado.xsdSalida}}" target="_blank">XSD Salida</a></p>
        </div>
        <div ng-show="vm.formRespuesta.resultado.wsdl">
            <p><a href="{{vm.resultado.WSDL}}" target="_blank">Wsdl</a></p>
        </div>
    </div>
    <br>
    <br>
</form>