<form name="formXsd" novalidate>
    <div ng-if="vm.formPeticion.mostrar">
        <p><b>{{vm.formPeticion.titulo}}</b><img align="right" src="./imagenes/xsd.ico"></p>
        <br>
            <label><b>Datos para la generación del Wsdl:</b></label><br><br>
            <label>{{vm.formPeticion.label.nombreWsdl}}</label>
            <input type="text" size="50" ng-model="vm.formPeticion.input.wsdl"/>.wsdl
        <br>
            <label>{{vm.formPeticion.label.selectErrores}}</label>
            <select name="errorSelect" id="errorSelect" ng-disabled="vm.formPeticion.select.error.disabled" ng-model="vm.formPeticion.select.error.item">
                <option ng-repeat="item in vm.resultadoErrores" value="{{item.codigo}}">{{item.codigo}}</option>
            </select>
            <input type="text" size="60" ng-model="vm.formPeticion.select.error.item" value="{{vm.formPeticion.select.error.item}}"/>
        <br>

        <label>{{vm.formPeticion.label.selectHeaders}}</label>
        <select name="headerSelect" id="headerSelect" ng-disabled="vm.formPeticion.select.header.disabled" ng-model="vm.formPeticion.select.header.item">
            <option ng-repeat="item in vm.resultadoHeaders" value="{{item.codigo}}">{{item.codigo}}</option>
        </select>
        <input type="text" size="60" ng-model="vm.formPeticion.select.header.item" value="{{vm.formPeticion.select.header.item}}"/>
        <br><br>
        <label><img height="32" width="32" src="./imagenes/excel.ico">{{vm.formPeticion.label.excelEntrada}}</label><input type="file" file-model="vm.fileExcel1" ng-click="vm.limpiarErrorPagina()"/><br>
        <label><img height="32" width="32" src="./imagenes/excel.ico">{{vm.formPeticion.label.excelSalida}}</label>  <input type="file" file-model = "vm.fileExcel2" ng-click="vm.limpiarErrorPagina()"/><br>
        <div ng-if="vm.formPeticion.error.visible">
            <br>
            <label style="color:#ff0145" ><b>{{vm.formPeticion.error.label}}</b></label>
        </div>
        <div align="center">
            <button ng-disabled="vm.formPeticion.boton.enviar.disabled" ng-click="vm.uploadFile()">{{vm.formPeticion.boton.enviar.label}}</button>
        </div>
    </div>

    <div ng-if="vm.formRespuesta.mostrar">
        <p>{{vm.formRespuesta.titulo}}</p>
        <div ng-show="vm.formRespuesta.resultado.xsd1">
            <p> <a href="{{vm.resultado.xsdEntrada}}" target="_blank">XSD Entrada</a></p>
        </div>
        <div ng-show="vm.formRespuesta.resultado.xsd2">
            <p><a href="{{vm.resultado.xsdSalida}}" target="_blank">XSD Salida</a></p>
        </div>
        <div ng-show="vm.formRespuesta.resultado.wsdl">
            <p><a href="{{vm.resultado.WSDL}}" target="_blank">Wsdl</a></p>
        </div>

        <div ng-if="vm.formRespuesta.error.visible">
            <br>
            <img height="132" width="132" src="./imagenes/error.png">
            <label style="color:#ff0145" ><b>{{vm.formRespuesta.error.label}}</b></label>
            <!--<button  ng-click="vm.irHome()">Volver</button> -->
        </div>
    </div>

    <br>
    <br>
</form>